---
import { supabase } from "@/supabase/client";

import Link from "@/components/astro/Link.astro";

const { cookies, url } = Astro;

const { pathname } = url;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let email = "";

if (accessToken && refreshToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });
  }

  email = data.user?.email || "";
}
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95
    backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container flex h-14 max-w-screen-2xl items-center">
    <div class="ml-auto flex items-center space-x-4">
      {
        email && (
          <>
            <span>{email}</span>
            <Link href="/api/auth/signout">Sign out</Link>
          </>
        )
      }
      {
        !email && pathname === "/" && (
          <>
            <Link href="/signin">Sign in</Link>
            <Link href="/register">Register</Link>
          </>
        )
      }
      <button
        class="relative inline-flex h-8 w-8 items-center justify-center whitespace-nowrap
          rounded-full px-4 py-2 text-sm font-medium transition-colors hover:bg-accent
          hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1
          focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
        type="button"></button>
    </div>
  </div>
</header>
