---
import { supabase } from "@/supabase/client";

const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let email = "";

if (accessToken && refreshToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });
  }

  email = data.user?.email || "";
}
---

<div>
  <div class="flex h-16 items-center px-4">
    <div class="ml-auto flex items-center space-x-4">
      <span>{email}</span>
      <button
        class="relative inline-flex h-8 w-8 items-center justify-center whitespace-nowrap
          rounded-full px-4 py-2 text-sm font-medium transition-colors hover:bg-accent
          hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1
          focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
        type="button"></button>
    </div>
  </div>
</div>
