---
interface Props {
  href: string;
  size?: "sm" | "md" | "lg";
  block?: boolean;
  style?: "primary";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "md",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  sm: "h-8 rounded-md px-3 text-xs",
  md: "h-9 px-4 py-2",
  lg: "h-10 rounded-md px-8",
};

const styles = {
  primary: "text-primary underline-offset-4 hover:underline",
  // outline: "bg-white border-2 border-black hover:bg-gray-100 text-black",
  // primary: "bg-black text-white hover:bg-gray-800 border-2 border-transparent",
  // inverted: "bg-white text-black border-2 border-transparent",
  // muted: "bg-gray-100 hover:bg-gray-200 border-2 border-transparent",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    `focus-visible:ring-ring inline-flex items-center justify-center
    whitespace-nowrap rounded-md text-sm font-medium transition-colors
    focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none
    disabled:opacity-50`,
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
