---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    `rounded border border-border bg-card text-card-foreground shadow-sm
    shadow-secondary`,
    className,
  ]}>
  <slot />
</div>
