---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <header>
    <Container>
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight place-items-center pt-16 pb-8 md:pt-8">
        WTF does that acronym stand for?
      </h1>
    </Container>
  </header>
  <main>
    <Container>
      <p>Sub Wow</p>
    </Container>
  </main>
</Layout>
