---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/astro/Container.astro";
import AcronymSearch from "@/components/astro/AcronymSearch.astro";
---

<Layout title="">
  <Container>
    <header>
      <h1
        class="mx-auto max-w-2xl text-center text-5xl font-bold tracking-tight sm:text-4xl
          lg:text-6xl xl:text-7xl">
        WTF does that acronym stand for?
      </h1>
    </header>
    <main>
      <AcronymSearch />
    </main>
  </Container>
</Layout>
