---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/astro/Card/Card.astro";
import CardHeader from "@/components/astro/Card/CardHeader.astro";
import CardContent from "@/components/astro/Card/CardContent.astro";
import CardFooter from "@/components/astro/Card/CardContent.astro";
import Link from "@/components/astro/Link.astro";

// @ts-ignore
import Register from "@/components/react/Auth/Register.tsx";
---

<BaseLayout title=" | Register">
  <div class="flex w-full justify-center">
    <Card class="my-24 w-80">
      <CardHeader>
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">
          Create an account
        </h2>
      </CardHeader>

      <CardContent>
        <Register client:load />
      </CardContent>

      <CardFooter>
        <p class="text-center text-sm">
          Already have an account?
          <Link href="/signin">Sign in</Link>
        </p>
      </CardFooter>
    </Card>
  </div>
</BaseLayout>
