---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/ui/Card/Card.astro";
import CardHeader from "@/components/ui/Card/CardHeader.astro";
import CardContent from "@/components/ui/Card/CardContent.astro";
import CardFooter from "@/components/ui/Card/CardContent.astro";
import Input from "@/components/ui/Input.astro";
import Button from "@/components/ui/Button.astro";
import Link from "@/components/ui/Link.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title=" | Sign in">
  <div class="w-full flex justify-center">
    <Card class="my-24">
      <CardHeader>
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">
          Sign in to your account
        </h2>
      </CardHeader>

      <CardContent>
        <form class="space-y-6" action="/api/auth/signin" method="POST">
          <div>
            <Input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required={true}
              placeholder="Email Address"
              class="w-full"
            />
          </div>

          <div>
            <Input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required={true}
              placeholder="Password"
              class="w-full"
            />
          </div>

          <div>
            <Button type="submit" class="w-full">Sign in</Button>
          </div>
        </form>
      </CardContent>

      <CardFooter>
        <p class="text-sm text-center">
          New here?
          <Link href="/register">Register</Link>
        </p>
      </CardFooter>
    </Card>
  </div>
</Layout>
