---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { acronym } = Astro.params;

const acronymData: object[] = [];
---

<BaseLayout title={` | ${acronym}`}>
  <h1>{acronym}</h1>
  <ul>
    {
      acronymData.map((d) => (
        <li>
          <span>{d}</span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
